
.DS_Store

BloodHound_VENOM_PCB/fp-info-cache

BloodHound_VENOM-backups/

BloodHound_VENOM/production/

BloodHound_VENOM/BloodHound_VENOM_LiPo-backups/

BloodHound_VENOM LiPo/fp-info-cache/

BloodHound_VENOM_LiPo-backups/

*.kicad_prl

*.kicad_pro

*.kicad_pcb

*fp-info-cache
